.app-header {
  background-color: #263238;
  height: 36px;
  padding: 8px 32px 8px 16px;
}

.app-logo {
  font-size: 18px;
  color: #fff;
  margin: 0px 0px;
  vertical-align: middle;
  padding: 4px;
}
